server {
        listen       ${NGINX_PORT};
        # listen  [::]:80;
        server_name  proxy;

        location / {
            proxy_pass   http://${NGINX_PROXY}:${NGINX_PROXY_PORT};
        }
    }